$light-grey: #E5E5E5;

.header {
    margin: 20px;
    padding: 10px;
    background-color: $light-grey;
}

.card {
    padding: 15px;
    margin: 10px;
}

.graph {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}